body {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
  background-color: #ffecf2; /* Light pink background */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
  background-color: #fdf3f3;
  padding: 20px;
  border-radius: 15px; /* Rounded corners */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  max-width: 80%;
}

button {
  font-size: 18px;
  padding: 12px 24px;
  margin: 10px;
  cursor: pointer;
  background-color: #ff8c94; /* Coral pink button color */
  color: #fff;
  border: none;
  border-radius: 10px; /* Rounded corners */
}

button:hover {
  background-color: #ff5d6e; /* Lighter shade on hover */
}

#result {
  display: none;
  margin-top: 20px;
}

.hidden {
  display: none;
}
#result img {
  max-width: 200px;
  max-height: 200px;
}
#result p {
  font-size: 24px;
}

@media only screen and (max-width: 600px) {
  .container {
      max-width: 90%;
  }
}